@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
    font-family: "Roboto";
    display:inline;
    margin:0;
}

/*header*/
.header-container{
    background-color: #1F2937;
    padding: 5px 100px 100px;
    color: #F9FAF8;
}
.header-top-container{
    display:flex;
    align-items:center;
}
.header-bottom-container{
    display:flex;
    flex-direction: row;
    padding-top: 100px;
}
.header-text{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
button.sign-up {
    display: inline;
    max-width: 150px;
}
.header-desc{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}
.link-container{
    display:flex;
    justify-content:flex-end;
    gap:25px;
   
}
.one-world{
    width:500px;
    height: 250px;
}
.sign-up{
    border-radius: 5px;
    width: 120px;
    height: 35px;
    background-color: #3882F6 ;
    color: white;
    font-family: "Roboto";
    border-style: solid;
    box-shadow: none;
    border:none;
}
a{
    color: #E5E7EB; 
    text-decoration: none;
}
.header-bottom2-container {
    margin-left: auto;
}


/*features images*/
.features{
    padding: 10px 100px 100px;
}
.features-images{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.features-container{
    display:flex;
    margin:10px 100px;
    align-items: flex-start;
    gap:50px;
}
.features-purpose{
    text-align: center;
    margin-bottom: 45px;
}
.box-1,.box-2,.box-3,.box-4{
    display:flex;
    flex-wrap: wrap;
}
/*Testimonials*/
.testimonials{
    background-color:#E5E7EB ;
    padding: 75px 150px;
}   
.testimonials-p{
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.testimonials-header{
    display: flex;
    justify-content:flex-end;
}